<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/WebPage/css/styles.css" rel="stylesheet" />

</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="/WebPage/views/index.html"><img width="150" height="200" src="/WebPage/assets/img/HappyPaws.svg" alt="..."/></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars ms-1"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuidados</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="dogBreedInfo.html">Beagle</a>
                            <a class="dropdown-item" href="dogBreedInfo.html">Husky</a>
                            <a class="dropdown-item" href="dogBreedInfo.html">Chihuahua</a>
                            <a class="dropdown-item" href="dogBreedInfo.html">Shihtzu</a>
                        </div>
                    <li class="nav-item"><a class="nav-link" href="/WebPage/views/userAdoptions.html">Adopción</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuenta</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="certifiedUser.html">Verificarse</a>
                            <a class="dropdown-item" onclick="cerrarSesion()">Cerrar Sesión</a>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <img src="/WebPage/assets/img/dogs/dogDescription.jpg" style="height: 450px; object-fit: cover; object-position: center bottom; " alt="...">
        <div class="header-text-container">
            <div class="masterhead-heading">¡Felicidades!</div>
            <div class="masterhead-subheading" >Ahora conoce más a este compañero peludo</div>
        </div>
      </header>

  <main>
    
    
        <div class="container">
            <div id = 'dogDesc'> </div>
            <!--
            <div class="row align-items-center">
                <div class="col-lg-5 pb-4 pb-lg-0">
                    <br>
                    <img class="img-fluid" src="/WebPage/assets/img/dogs/Dog2.jpg" style="width: 100%; max-height: 700px;" alt="">
                    <br><br>
                    <h5>Información de Contacto: </h5>
                    <h6 class="d-inline bold-text"><i class="fa-solid fa-location-dot" style="color: #00000a;"></i> Dirección: </h6><p class="d-inline normal-text">123 Calle Imaginaria, Suite 456</p><br>
                    <h6 class="d-inline bold-text" ><i class="fa-solid fa-phone" style="color: #00000a;"></i> Télefono: </h6><p class="d-inline normal-text" >3322716189</p><br>
                    <h6 class="d-inline bold-text" ><i class="fa-solid fa-envelope" style="color: #00000a;"></i> Correo: </h6><p class="d-inline normal-text" >juanitogarcia@gmail.com</p><br>
                </div>
                <div class="col-lg-7">
                    <br><br>
                    <h3 class="text-primary text-uppercase bold-text" style ="text-align: center;">Hola soy Willow</h3>
                    <h6 class="mb-4 d-inline bold-text" >Edad: </h6><p class="d-inline normal-text" >2 años</p><br>
                    <h6 class="mb-4 d-inline bold-text" >Raza: </h6><p class="d-inline normal-text" >Collie</p><br>
                    <h6 class="mb-4 d-inline bold-text" >Sexo: </h6><p class="d-inline normal-text" >Hembra</p><br>
                    <h6 class="mb-4 d-inline bold-text" >Color: </h6><p class="d-inline normal-text" >Blanco y Cafe</p><br><br>
                    <h6 class = "bold-text">Nivel de energía:</h6>
                    <ul id="rating-energia">
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                    </ul>

                    <script>
                          // Obtener el valor de rating (puedes ajustar este valor según tus necesidades)
                        var ratingValue = 3;
                    
                          // Obtener la lista de estrellas
                        var stars = document.getElementById('rating-energia').getElementsByClassName('star');
                    
                          // Colorear las primeras "ratingValue" estrellas
                        for (var i = 0; i < ratingValue; i++) {
                            stars[i].style.backgroundColor = '#ffd700'; // Color amarillo o el color deseado
                        }
                    </script>
                    <h6 class = "bold-text">Historial médico: </h6>
                    <p class = "normal-text">Vacunas Recientes: </p>
                    <ul class = "normal-text">
                        <li><i class="fa-solid fa-bone" style="color: #00000f;"></i> Vacuna contra la rabia (última administrada el 10 de enero de 2023)</li>
                        <li><i class="fa-solid fa-bone" style="color: #00000f;"></i> Vacuna polivalente (última administrada el 5 de febrero de 2023)</li>
                    </ul>
                    <h6 class = "bold-text">Problemas de Salud Anteriores: </h6>
                    <ul class = "normal-text">
                        
                        <li><i class="fa-solid fa-paw" style="color: #00000f;"></i> Otitis (tratada en mayo de 2022)</li>
                        <li><i class="fa-solid fa-paw" style="color: #00000f;"></i> Problemas estomacales leves (tratados con dieta especial en agosto de 2021)</li>
                    </ul>
                    <h6 class = "bold-text">Medicamentos Actuales: </h6>
                    <ul class = "normal-text">
                        <li>Ninguno</li>  
                    </ul>
                    <h6 class = "bold-text">Descirpción general: </h6>
                    <p class = "normal-text">Juguetona, sociable, le gusta salir a pasear, convivir con niños, comer mucho y dormir en una cama comoda.</p>
                </div>
            
            </div>
        -->
        </div>
        
    
    
  </main>
  

  <footer>
    <img class="img-fluid" src="/WebPage/assets/img/dogs/footer4.png" style="max-width: 100%;" alt="">
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <script src="/WebPage/js/scripts.js"></script>
  <script src="/WebPage/js/dogDescription.js"></script>
</body>

</html>